<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="{{css_file}}"/>
</head>
<body>
  <header>
    <nav>
        <ul>
      
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>


  <!-- <div class="container">
    <div class="author-bio">
      
      <h3>Fitness enthusiast and businessman</h3>
      <div class="text_blob">
      {{  bio|markdown}}
      </div>  -->

      <div class="main">
        <div class="blog">
          <div class="post">
            <div class="content">
              <h3 id="title">Siddharth kinger</h3>
              <h5>Fitness enthusiast and businessman</h5>
              {{  bio|markdown}}
              </div>
            </div>
        </div>
      </div>  

</body>
</html>
