<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href='{{css_file}}'>
</head>
<body>
  <header>
    <nav>
        <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
      </ul>
    </nav>
  </header>

    <div class="main">
     <div class="blog" > 
      <div class="post">
       <div class="content"> 
        <div class="single">  
    {% for x in post %}
    <img src="{{url_for('static',filename='images')}}/{{x.image}}">
    <h2>{{ x.title }}</h2>
    <h5>Posted by {{ x.author }}   &nbsp;&nbsp;&nbsp; 
      date:{{x.date}}
    </h5> </div>
    <div class="post-content">
        {{ x.body| markdown }}
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
