<!DOCTYPE html>
<html>
<head>
  <title>New Blog Post</title>
  <link rel="stylesheet" href='{{css_file}}'>
</head>
<body>

  <div class=main>
  <div class="blog">
  <h1>New Blog Post</h1>

  <form action="/add_new_post" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="body">Content:</label><br>
    <textarea  id="body" name="body"></textarea><br>

    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" required><br><br>

    <label for="Image to add">Add image</label><br>
    <input type="text" id="image" name="image" required><br>

    <label for="date">date</label><br>
    <input type="text" id="date" name="date" required><br><br>

    <label for="tags">Tags</label><br>
    <input type="text" id="tags" name="tags" required><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>